body
{

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gainsboro;
}

#bodyborder
{
    background-color: gainsboro;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
#head
{

    height: 40px;
    background-color: mediumspringgreen;
    font-size: 30px;
    font-family: fantasy;
    padding: 5px;
    width: 99%;
    border-radius: 10px;
}

#gmt
{
    margin-top: -35px;
    float: right;
    margin-right: 200px;
    font-size: 18px;
    font-family: cursive;
}

#gmttime
{
    margin-top: -35px;
    float: right;
    margin-right: 10px;
    font-size: 25px;
}

#indiautc
{
    margin-top: -40px;
    float: left;
    margin-left: 200px;
    font-size: 25px;
    color: brown;
    font-family: fantasy;
}

a:link
{
    color: black;
    text-decoration: none;
    font-family: monospace;
}

a:visited
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: darkgreen;
    font-size: 15px;
    font-family: cursive;
}

#aside
{
    background-color: white;
    width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
}

#calform1
{
    margin-top: 0px;
    margin-right: 50px;
    background-color: white;
    border-radius: 10px;
    width: 905px;
    margin-left: 20px;
    height: 350px;
    padding: 20px;
}
h1
{
    font-family: monospace;
    color: coral;
}

button
{
    color: grey;
    background-color: aqua;
    margin-bottom: 15px;

}

#select
{
    margin-bottom: 15px;
}
#calindia
{
    margin: 10px;
}

th
{
    width: 400px;
    color: blue;
    font-size: 20px;
}

span
{
    color: blue;
}
#hourminut
{
    margin-top: 20px;
}